body{
    background: url(/images/pexels-alex-andrews-816608.jpg);
    background-position: center  center;
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100vh;
}
h2{
    font-family: 'Tilt Prism', cursive;
    font-size: 4.93vw;
    margin-top: 25vh;
    transition: all 4s ease;
    transform: translateY(5%);
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}
@keyframes example {
    from{      
        transform: translateY(-15vh);       
    }
    to{  
        transform: translateY(0);
    }   
}
p{
    font-family: 'Tilt Prism', cursive;
    font-size: 4.2vw;
    margin-top: 3vh;
}